__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
exports/
config.json
build/
dist/
release/
*.spec
.build_dist/
.build_work/
.build_spec/
Bookup.exe
_internal/
bookup_data/
_references/
/_tmp_*.png
/753d5ce3-920c-48a1-a903-54a18ae61861.mp4
/Best.png
/Blunder.png
/Book.png
/Brilliant.png
/Excellent.png
/Good.png
/Great.png
/Miss.png
/Mistake.png
/inaccuracy.png
